* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 90px 20px 0;
  }
  
  .header {
    background-color: rgba(255, 131, 87, 1);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: rgba(255, 179, 68, 1);
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .header {
      height: 60px;
    }
  
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #FFBF86;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: #83c5f7;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
 
  }
  form{
    width: 450px;
    margin: auto;
    background: #FEF1E6;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
  }
  #principal{
    background-image: url(../img/json4.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
  }
  h2{
  color: #FFB085;
  text-align: center;
  margin:0;
  font-size: 30px;
  margin-bottom: 20px;
  }
  input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  }
  textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  }
  #boton{
  background: #fac172;
  color:white;
  padding: 20px;
  border-radius: 7px;
  
  }
  #boton:hover{
  cursor: pointer;
  }
  @media (max-width: 480px) {

    form{
      width: 100%;
    }
  } 
  #seleccionar
{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  background-color: #FDA65D;
  border-radius: .3em;
  color: white;
}
.combox
{
  display: block;
  font-size: 16px;
  font-weight: 300;
  color:#FF9B6A;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  width: 300px;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 20px auto;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
  border-radius: .3em;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.combox::-ms-expand {
  display: none;
}
.combox:hover {
  border-color: #888;
}
.combox:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(255, 179, 68, 1);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.combox option {
  font-weight:normal;
}
.combox option[selected] {
  background-color: orange;
}
.content
{
    background:#FF6B6B;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color:white;
    font: Bold 0.85em Tahoma,Helvetica,"Liberation Sans";
    height: auto;
    margin: 12px auto;
    padding: 18px 24px;
    width: 320px;
    text-align: justify;
    opacity: 0.75;

}
h4{
  color:white;
  text-align: center;
  margin:0;
  font-size: 20px;
  margin-bottom: 20px;
  }