* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body {
    font-size: 20px;
  }
  /*PRELOAD*/
.hidden{
  overflow: hidden;
}
.centrado{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ripple {
  display: inline-block;
  position:relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgba(255, 131, 87, 1);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
  /*NAV*/
  .nav {
    padding: 24px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: rgba(250, 169, 150, 1);
    position: relative;
  }
  .nav a {
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
  }
  .nav a:hover {
    background-color: rgb(223, 212, 197);
    color: rgb(245, 245, 245);
    padding: 24px 10px;
  }
  .logo
  {
    width:120px;
    height:40px;
  }
  footer {
    text-align: center;
    width: 100%;
    padding: 15px 0px;
    background: rgba(250, 169, 150, 1);
    bottom: 0;
    position: fixed;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
  }
  ::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-thumb{
    background:rgb(253, 198, 116);
    border-radius: 80px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background:rgb(248, 207, 144);
  }
  
#informacion {
    margin-bottom: 5%;
  }
  
  #contenido {
    padding: 2%;
  }
  h3 {
    text-align: center;
    font-size: 25px;
    color: #C88D70;
    font-family: 'Josefin Sans', sans-serif;
  }
  #flores {
    overflow: auto;
    margin: 0 auto;
    clear: left;
    width: 80%;
    margin-bottom: 5%;
  }
  p{
    color: #e25b45;
  }
  .opciones {
    padding: 2%;
    background: white;
    border-radius: 2px;
    display: inline-block;
    margin: 1%;
    position: relative;
    width: 26.7%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .opciones:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .opciones img {
    position: relative;
    padding-top: 30px;
    width: 100%;
  }
  
  .opciones p {
    margin-top: 15px;
    text-align: center;
  }
  .boton{
    background-color: #fac172;
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background 3s, color 1s;
   }
   .boton:hover{
    background: #fac172;
   }
   .boton a{
    text-decoration: none;
    color: white;
    width: 100%;
    margin: 0px;
    display: block;
  }       
  /*
  ----------------------
  POP-UP  VENTANA EMERGENTE 
  ----------------------
  */
  .overLay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popup{
    background-color: papayawhip;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 25px;
    text-align: center;
    width: 700px;
  }
  @media (max-width: 480px) {
    body {
      font-size: 18px;
    }
    .boton a{
      text-decoration: none;
      color: white;
      width: 90%;
      margin: 5px;
      display: block;
    }    
    .nav {
      transition: 0.4s;
      color: #ffffff;
      text-decoration: none;
      padding: 10px 50px 20px;
      margin: 0 5px;
    }
    p{
      color: #e25b45;
    }
    .nav:hover {
      background-color: #ffffff;
      color: rgba(49, 107, 131, 1);
      padding: 24px 10px;
    }
    .image {
      display: block;
      margin: auto;
      
    
    }
  
    #equipos {
      overflow: unset;
      margin: 0;
      clear: left;
      width: 95%;
      margin-bottom: 15%;
    }
  
    .opciones {
      padding: 2%;
      background: #fff;
      border-radius: 2px;
      display: inline-block;
      margin: 1rem;
      position: relative;
      width: 90%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  
    }